<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript">
  $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script>
</head>
<body >
 {% include 'homepage/navbar.html' %}
 <div class="center-page">
   <br>
   <br>
   <div class="">
     <br>
     <div id="heading2">
      <h3 id="head-text">Biostock Database <span  style="font-size: 20px">(All the data is updated automatically every 25 minutes)</span></h3>
      </div>
       <div class="text-center" id="top-bar" data-state="hasContent"  style="width: 1001px; height: 5500px;"><div  class="htco1iFrameHolder"><iframe class="map top-bar" width="100%" id="doc" height="100%" name="htmlComp-iframe" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTLbPYnDc8W2F8hWDCITnk0dHAx3UogAyK93V2JV5ZqsQoq4wTdmktBP0HhaqLDDQvyvxXhhpi9H8Qh/pubhtml?gid=919711976&amp;single=true">
       </iframe></div>
     </div>
     <div id="footer2">
     </div>
   </div>
 </div>
</body>
</html>
