<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/summernote-bs4.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'homepage/css/customCss.css' %}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Navbar -->
    {% include 'homepage/block/nav_bar.html' %}
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    {% include 'homepage/block/left_menu.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block body %} {% endblock %}
    </div>
    <!-- /.content-wrapper -->
    {% include 'homepage/block/footer.html' %}

</div>

<script src="{% static 'homepage/js/jquery.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery-ui.min.js' %}"></script>
<script>
        $.widget.bridge('uibutton', $.ui.button)
</script>
{% load static %}
<script src="{% static 'homepage/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'homepage/js/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'homepage/js/sparkline.js' %}"></script>
<script src="{% static 'homepage/js/jquery.vmap.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'homepage/js/jquery.knob.min.js' %}"></script>
<script src="{% static 'homepage/js/moment.min.js' %}"></script>
<script src="{% static 'homepage/js/daterangepicker.js' %}"></script>
<script src="{% static 'homepage/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'homepage/js/summernote-bs4.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'homepage/js/adminlte.js' %}"></script>
<script src="{% static 'homepage/js/dashboard.js' %}"></script>
<script src="{% static 'homepage/js/demo.js' %}"></script>
</body>

</html>